body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    color: #0a0101;
    /* text-align: center; */
    min-height: 100vh;
    display: flex;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    margin: 0;
}

.container {
    padding: 10px; /* Add padding to the container */
    min-height: fit-content;
    display: list-item;
    width: 100%;
}

/* .grid {
    display: grid;
    display: list-item;
    height: 300px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; Space between grid items
} */

.grid-item {
    background-color: #ffffff; /* Light background for grid items */
    border: 1px solid #000000; /* Border around grid items */
    width: 100%;
    border-radius: 8px; /* Optional: rounded corners */
    overflow: hidden; /* Hides overflow content */ /* Centers text */
    padding: 10px; /* Padding inside grid items */
}

/* img {
    border-radius: 50%;
} */

.grid-item img {
    width: 50px; /* Responsive images */
    height: 50px;
 /* Maintains aspect ratio */
}