body {
    font-family: Arial, sans-serif;
    color: #0a0101;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.main{
    background-image: url("{% static 'images\contactbg.jpg' %}");
    background-size: cover;      /* Makes the image cover the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
}

/* img {
    border-radius: 50%;
} */