{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pradnya's Portfolio</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'main/menu.css' %}?v={{ timestamp }}">
    <!-- <link rel="stylesheet" href="{% static 'main/projects.css' %}?v={{ timestamp }}"> -->
    <script src="{% static 'main/script.js' %}"></script>
</head>
<body>
<div class="navbar">
    <div class="navbar-images">
        <!-- Insert your images here -->
        <a href="{% url 'contact' %}" >
        <img src="{% static 'main/images/maillogo.png' %}" alt="Logo 1" class="nav-icon">
    </a>
        <img src="{% static 'main/images/phonelogo.png' %}" alt="Logo 1" class="nav-icon">
        <img src="{% static 'main/images/twitterLogo.jpg' %}" alt="Logo 1" class="nav-icon">
        <a href="https://www.linkedin.com/in/pradnyawante/">
        <img src="{% static 'main/images/linkedinmenu.png' %}" alt="Logo 1" class="nav-icon">
    </a>
    </div>

    <div class="navbar-links">
        <a href="{% url 'contact' %}" class="linkname"><b>Contact</b></a> 
        <a href="{% url 'projects' %}" class="linkname"><b>Projects</b></a>
        <a href="{% url 'welcome' %}" class="linkname"><b>Home</b></a>
    </div>
</div>

<div class="container">
    <div class="main">
        <div class="column col-one">
            <h2>Data Enthusiast</h2>
            <h3>turning chaos into clarity!</h3>
        </div>
        <div class="column col-two">
            <img src="{% static 'main/images/avatar.jpg' %}" alt="Welcome Image" width="300" height="300" class="center"> <!-- Replace with your image path -->
            <h1> &lt; Coder &gt;</h1>
            <h3>Who writes clean, elegant and efficient code </h3>
        </div>
        <div class="column col-three">
            <h2>Python and Django Ninja</h2>
            <h3>crafting web magic</h3>
        </div> 
    </div>
</div>
    <marquee class="marqueee" direction="left"><i>Your next star player in driving growth and innovation... let's create success together!</i> </marquee>

    <div id="projects" class="projects-section">
        <h4>Projects/Links</h4>
        <div class="grid">
            <div class="grid-item">
                <p>Github</p>
                <a href="https://github.com/pradnyawante" target="_blank">
                <img src="{% static 'main/images/githublogo.png' %}" alt="Project 1">
            </a>
            </div>
            <div class="grid-item">
                <p>Leetcode</p>
                <a href="https://leetcode.com/u/pradnyawante/" target="_blank">
                <img src="{% static 'main/images/LeetCodeLogo.png' %}" alt="Project 2">
                
            </a>
            </div>
            <div class="grid-item">
                <p>Hackerrank</p>
                <a href="https://www.hackerrank.com/profile/codewithpradnya" target="_blank">
                <img src="{% static 'main/images/HackerRank_logo.png' %}" alt="Project 3">
    
            </a>
            </div>
            <!-- <div class="grid-item">
                <img src="{% static 'main/images/LinkedIn_logo.png' %}" alt="Project 4">
                <p>LinkedIn</p>
            </div> -->
            <!-- Add more grid items as needed -->
            </div>
        </div>

        <div id="contact" class="contact-section">
            <h4>Contact</h4>
            <p>You can reach me out at - <br> <a href="pradnyawante18@gmail.com">pradnyawante18@gmail.com</a> </br>
            <br> <a href="https://www.linkedin.com/in/pradnyawante/">www.linkedin.com/in/pradnyawante</a> </br>
        </p>
        </div>
    </div>
</body>
</html>